@model LoginViewModel
@{
    ViewData["Title"] = "Sign In";
}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-header display-6">
                Sign In
            </div>
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                        <label class="form-check-label">Remember me in this computer.</label>
                    </div>
                    <input type="hidden" asp-for="ReturnUrl" />
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}